{{#> layout}}
  {{> header}}
  <section class="page__content">
    {{{ current.content }}}

    <h2>Posts</h2>
    <ul class="u-nolist">
      {{#each posts}}
        <li>
          <section class="post-item">
            <a href="{{url}}">
              <h3 class="post-item__title">
                {{title}}
              </h3>
            </a>
            <span class="post-item__date u-small-text">{{date}}</span>
            <p class="post-item__excerpt">{{description}}</p>
          </section>
        </li>
      {{/each}}
    </ul>
  </section>
  {{> footer}}
{{/layout}}